<!--CORPO-->
<div class="container-fluid">
    <h1>Memorial de Guerra Australiano</h1>

    <h2>Historia</h2>
    <p>
        O Memorial de Guerra Australiano, localizado em Canberra, 
        foi concebido por Charles Bean, historiador oficial 
        australiano da Primeira Guerra Mundial, que imaginou um 
        lugar para homenagear os soldados mortos e preservar os 
        registros de seu serviço. A ideia criou raízes após a 
        Primeira Guerra Mundial, com Bean e outros defendendo um 
        memorial nacional.
    </p>

    <p>
        Em 1923, o governo australiano alocou um local para o 
        Memorial no Desfile Anzac de Canberra. O projeto foi 
        selecionado através de um concurso de arquitetura, 
        vencido por Emil Sodersten e John Crust. A construção 
        começou em 1928, mas o projeto enfrentou atrasos devido 
        à Grande Depressão e à Segunda Guerra Mundial. Apesar 
        desses contratempos, o edifício principal do Memorial foi 
        inaugurado oficialmente em 11 de novembro de 1941, pelo 
        primeiro-ministro John Curtin, coincidindo com o Dia do 
        Armistício.
    </p>

    <p>
        Inicialmente, o Memorial se concentrou na Primeira Guerra 
        Mundial e na Segunda Guerra Mundial. Ao longo dos anos, 
        expandiu-se para incluir conflitos subsequentes envolvendo 
        forças australianas, como a Guerra da Coreia, a Guerra do 
        Vietname, a Guerra do Golfo e missões de manutenção da paz. 
        As galerias foram continuamente atualizadas para refletir a 
        natureza evolutiva da guerra e o papel da Austrália na 
        história militar global.
    </p>

    <p>
        Expansões e reformas significativas ocorreram desde a sua 
        inauguração. Em 1971, o Salão da Memória foi concluído, 
        abrigando o Túmulo do Soldado Australiano Desconhecido, 
        enterrado em 1993. Este acréscimo tornou-se um ponto focal 
        para reflexão e lembrança nacional. As coleções do Memorial 
        também cresceram, incorporando extensos arquivos, 
        fotografias, cartas e lembranças pessoais de militares.
    </p>

    <p>
        O Australian War Memorial continua sendo uma instituição 
        importante para a história e patrimônio militar na 
        Austrália, oferecendo programas educacionais, instalações 
        de pesquisa e eventos comemorativos. Sua mistura de 
        lembrança solene e preservação histórica continua atraindo 
        visitantes, tornando-a uma parte central da identidade 
        nacional e da memória coletiva da Austrália.
    </p>

        
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="5000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../assets/images/Australian War Memorial/Aircraft Hall.jpg" alt="Aircraft Hall">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../assets/images/Australian War Memorial/Gallipoli battle zone.webp" alt="Gallipoli battle zone">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../assets/images/Australian War Memorial/Uniforms WW1.jpg" alt="Uniforms WWI">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../assets/images/Australian War Memorial/Warbirds.jpg" alt="Warbirds">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../assets/images/Australian War Memorial/WWII Anti-aircraft gunner.webp" alt="WWII Anti-aircraft gunner">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../assets/images/Australian War Memorial/WWII anti-aircraft searchlight.webp" alt="WWII anti-aircraft searchlight">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
      </div>
      <br>
    
      <h2>Mapa</h2>

      <h2>Eventos</h2>
  
      <h2>Compra de Bilhetes</h2>
  
      <h2>Avaliações</h2>
  
      <h2>Catálogo de obras</h2>
  
      <h2>Fotos</h2>
  
      <h2>Audio</h2>
  
      <h2>Eventos</h2>
  
  
      <br>
      No footer: Autores, Data, Categoria(?)
  
  
  </div>
