<div class="container-fluid"> <br>
  <h1>Memorial de Guerra Australiano</h1>
  <h3>Militar</h3>

  <div class="star-container">
    <img class="star" src="assets/images/StarFilled.png" alt="Star">
    <img class="star" src="assets/images/StarFilled.png" alt="Star">
    <img class="star" src="assets/images/StarFilled.png" alt="Star">
    <img class="star" src="assets/images/StarFilled.png" alt="Star">
    <img class="star" src="assets/images/StarBlank.png" alt="Star"> 
  </div>
  <br>

  <script src="script.js"></script>

  

  <div class="container-fluid linha">
    <div class="row">
      <div class="cont col-md-6">
        <div class="conteudo">
          <!-- Carousel wrapper -->
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="5000">
            <!-- Slides -->
            <div class="carousel-inner mb-5 shadow-1-strong rounded-3">
              <div class="carousel-item active">
                <img src="assets/images/Australian War Memorial/Aircraft Hall.jpg" class="d-block w-100"
                  alt="Aircraft Hall" />
              </div>
              <div class="carousel-item">
                <img src="assets/images/Australian War Memorial/Gallipoli battle zone.webp" class="d-block w-100"
                  alt="Gallipoli battle zone" />
              </div>
              <div class="carousel-item">
                <img src="assets/images/Australian War Memorial/Uniforms WW1.jpg" class="d-block w-100"
                  alt="Uniforms WWI" />
              </div>
            </div>
            <!-- Slides -->
            <!-- Controls -->
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
            <!-- Controls -->
            <!-- Thumbnails -->
            <div class="carousel-indicators" style="margin-bottom: -20px;">
              <button type="button" data-target="#carouselExampleControls" data-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1" style="width: 100px;">
                <img class="d-block w-100 shadow-1-strong rounded"
                  src="assets/images/Australian War Memorial/Aircraft Hall.jpg" class="img-fluid" alt="Aircraft Hall" />
              </button>
              <button type="button" data-target="#carouselExampleControls" data-slide-to="1" aria-label="Slide 2"
                style="width: 100px;">
                <img class="d-block w-100 shadow-1-strong rounded"
                  src="assets/images/Australian War Memorial/Gallipoli battle zone.webp" class="img-fluid"
                  alt="Gallipoli battle zone" />
              </button>
              <button type="button" data-target="#carouselExampleControls" data-slide-to="2" aria-label="Slide 3"
                style="width: 100px;">
                <img class="d-block w-100 shadow-1-strong rounded"
                  src="assets/images/Australian War Memorial/Uniforms WW1.jpg" class="img-fluid" alt="Uniforms WWI" />
              </button>
            </div>
            <!-- Thumbnails -->
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="cont">
          <!-- Caixa de informações à direita -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Sobre este Memorial </h5>
              <p>Duração 4 horas</p>
              <p>Guia de áudio opcional</p>
              <hr>
              <h5 class="card-title">Bilhetes</h5>
              <button type="button" class="btn btn-custom2" data-toggle="modal" data-target="#ticketModal">Ver
                Bilhetes</button>
                <br>
                <br><hr>
                <div class="horario-container">
                  <h5>Horário</h5>
                  <div class="status">
                    <span>{{ statusText }}</span> <p></p>
                    <!-- Botão para abrir o modal -->
                    <button type="button" class="btn btn-custom" data-toggle="modal" data-target="#horariomodal">Ver horários</button>
                  </div>
                  
                  <!-- Modal Horário-->
                  <div class="modal fade" id="horariomodal" tabindex="-1" role="dialog" aria-labelledby="horariomodalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="horariomodalLabel">Horário</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p> <strong>Segunda-feira</strong> 08:00 - 19:00</p>
                          <p> <strong>Terça-feira</strong> 08:00 - 19:00</p>
                          <p> <strong>Quarta-feira</strong> 08:00 - 19:00</p>
                          <p> <strong>Quinta-feira</strong> 08:00 - 19:00</p>
                          <p> <strong>Sexta-feira</strong> 08:00 - 19:00</p>
                          <p> <strong>Sábado</strong> 10:00 - 17:00</p>
                          <p> <strong>Domingo</strong> 11:00 - 16:00</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End row -->
  <!-- Modal para mostrar os bilhetes -->
  <div class="modal fade" id="ticketModal" tabindex="-1" role="dialog" aria-labelledby="ticketModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ticketModalLabel">Preçário de Bilhetes</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Bilhete c/guia 17€</p>
          <p>Bilhete normal 11€</p>
          <p>Bilhete c/áudio (inglês) 24€</p>
        </div>
        <div class="modal-footer">
          <a href="https://www.awm.gov.au/visit" class="btn btn-primary">Comprar (site oficial)</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>


  <h2>História</h2>
  <p>
    O Memorial de Guerra Australiano, localizado em Canberra,
    foi concebido por Charles Bean, historiador oficial
    australiano da Primeira Guerra Mundial, que imaginou um
    lugar para homenagear os soldados mortos e preservar os
    registros de seu serviço. A ideia criou raízes após a
    Primeira Guerra Mundial, com Bean e outros defendendo um
    memorial nacional.
  </p>

  <p>
    Em 1923, o governo australiano alocou um local para o
    Memorial no Desfile Anzac de Canberra. O projeto foi
    selecionado através de um concurso de arquitetura,
    vencido por Emil Sodersten e John Crust. A construção
    começou em 1928, mas o projeto enfrentou atrasos devido
    à Grande Depressão e à Segunda Guerra Mundial. Apesar
    desses contratempos, o edifício principal do Memorial foi
    inaugurado oficialmente em 11 de novembro de 1941, pelo
    primeiro-ministro John Curtin, coincidindo com o Dia do
    Armistício.
  </p>

  <p>
    Inicialmente, o Memorial se concentrou na Primeira Guerra
    Mundial e na Segunda Guerra Mundial. Ao longo dos anos,
    expandiu-se para incluir conflitos subsequentes envolvendo
    forças australianas, como a Guerra da Coreia, a Guerra do
    Vietname, a Guerra do Golfo e missões de manutenção da paz.
    As galerias foram continuamente atualizadas para refletir a
    natureza evolutiva da guerra e o papel da Austrália na
    história militar global.
  </p>

  <p>
    Expansões e reformas significativas ocorreram desde a sua
    inauguração. Em 1971, o Salão da Memória foi concluído,
    abrigando o Túmulo do Soldado Australiano Desconhecido,
    enterrado em 1993. Este acréscimo tornou-se um ponto focal
    para reflexão e lembrança nacional. As coleções do Memorial
    também cresceram, incorporando extensos arquivos,
    fotografias, cartas e lembranças pessoais de militares.
  </p>

  <p>
    O Australian War Memorial continua sendo uma instituição
    importante para a história e patrimônio militar na
    Austrália, oferecendo programas educacionais, instalações
    de pesquisa e eventos comemorativos. Sua mistura de
    lembrança solene e preservação histórica continua atraindo
    visitantes, tornando-a uma parte central da identidade
    nacional e da memória coletiva da Austrália.
  </p>


  <!-- Seção do catálogo de obras -->
  <div class="row mt-5">
    <div class="col-md-6 ">
      <h2>Obras mais procuradas</h2> <br>
      <div class="image-text-item">
        <img class="d-block shadow-1-strong rounded"
             src="assets/images/Australian War Memorial/top3/TRH.jpg"
             alt="The Roll of Honour">
        <p><strong>The Roll of Honour</strong>
            - Louise Burmester - 1999 <br>
            Uma parede que lista os nomes de todos os australianos que morreram em serviço militar desde 1885.
            Este é um local de profundo significado para os visitantes que desejam prestar homenagem aos soldados caídos.
        </p>
    </div>
    
    <div class="image-text-item">
      <img class="d-block shadow-1-strong rounded"
           src="assets/images/Australian War Memorial/top3/C.jpg"
           alt="The Last Post Ceremony">
      <p><strong>The Last Post Ceremony</strong>
          - Emma Campbell - 2018 <br>
          Embora não seja uma obra de arte física, esta cerimônia
          diária é uma experiência emocionante e reverente, onde os visitantes podem testemunhar a leitura dos nomes dos
          soldados australianos falecidos e ouvir a trombeta tocando o "Último Posto".
      </p>
    </div>
    <div class="image-text-item">
      <img class="d-block shadow-1-strong rounded"
          src="assets/images/Australian War Memorial/top3/HM.jpg"
          alt="Hall of Memory">
      <p><strong>Hall of Memory</strong>
          - Australian War Memorial - 2011 <br>
          Esta sala central abriga o Memorial da Guerra Australiana e é
          adornada com mosaicos, estátuas e vitrais que representam os serviços militares e as campanhas nas quais os
          australianos estiveram envolvidos.
      </p>
    </div>
  </div>

  <br>
  <h2>Museu +</h2>
    <p>Eileen (Joan) Brain entrevistada por Alison Viney Houghton para seu projeto de história oral "The Age of Innocence
      1937-1947". <br>A entrevista cobre a experiência de Joan Brain como uma jovem que viveu a Segunda Guerra Mundial,
      abordando assuntos como deixar a escola aos 14 anos, trabalho, estilo de vida, racionamento, black outs e cortinas
      blackout, abrigos antiaéreos e lugares onde ela morou na Tasmânia.</p>
  <br><br>
  <audio controls>
    <source src="assets/1.mp3" type="audio/mp3">
  </audio> <br><br><br>
  <audio controls>
    <source src="assets/1.2.mp3" type="audio/mp3">
  </audio>


  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

  <!-- Seção da localização -->
  <div class="row mt-5">
    <div class="col-md-6">
      <h2>Localização</h2>
      <p>Treloar Crescent </p>
      <p>Campbell ACT 2612</p>
      <p>Australia</p>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row contact-map-container mt-5">
      <div class="col-md-6 map">
        <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
          src="https://www.openstreetmap.org/export/embed.html?bbox=149.14843,-35.279,149.14843,-35.283&amp;layer=mapnik&amp;marker=-35.281030400967666,149.1484327"
          style="border: 1px solid black;"></iframe>
      </div>
      <div class="col-md-6 contacts">
        <h2>Contactos:</h2>
        <p>Questões Gerais: info&#64;awm.gov.au</p>
        <p>Telefone: +61 (02) 6243 4211</p>
        <p>Visite o site: <a href="https://www.awm.gov.au/">aqui</a></p>
      </div>
    </div>
  </div>

  <br>
  <br>
  <div class="avaliacoes">
    <h2>Avaliações</h2>
    <img class="star" src="assets/images/StarFilled.png" alt="Star">
    <img class="star" src="assets/images/StarFilled.png" alt="Star">
    <img class="star" src="assets/images/StarFilled.png" alt="Star">
    <img class="star" src="assets/images/StarFilled.png" alt="Star">
    <img class="star" src="assets/images/StarBlank.png" alt="Star">
    <div class="avaliacao">
      <div class="row">
        <div class="col-md-6">
          <div>
            <strong>Aisha</strong>
            <p>03/03/2024</p>
          </div>
          La dilfeas vuot quo scolt. Mue poz artriu mostre qua potraste.
        </div>
        <div class="col-md-6 text-md-end">
          <img class="star" src="assets/images/StarFilled.png" alt="Star">
          <img class="star" src="assets/images/StarFilled.png" alt="Star">
          <img class="star" src="assets/images/StarFilled.png" alt="Star">
          <img class="star" src="assets/images/StarFilled.png" alt="Star">
          <img class="star" src="assets/images/StarBlank.png" alt="Star">
        </div>
      </div>
    </div>

    <div class="avaliacao">
      <div class="row">
        <div class="col-md-6">
          <div>
            <strong>Emma</strong>
            <p>01/08/2022</p>
          </div>
          La dilfeas vuot quo sc olt. Mue poz artriu mostre qua potraste.
        </div>
        <div class="col-md-6 text-md-end">
          <img class="star" src="assets/images/StarFilled.png" alt="Star">
          <img class="star" src="assets/images/StarFilled.png" alt="Star">
          <img class="star" src="assets/images/StarFilled.png" alt="Star">
          <img class="star" src="assets/images/StarBlank.png" alt="Star">
          <img class="star" src="assets/images/StarBlank.png" alt="Star">
        </div>
      </div>
    </div>

    <div class="avaliacao">
      <div class="row">
        <div class="col-md-6">
          <div>
            <strong>Benny</strong>
            <p>22/07/2021</p>
          </div>
          La dilfeas vuot quo scolt. Mue poz artriu mostre qua potraste.
        </div>
        <div class="col-md-6 text-md-end">
          <img class="star" src="assets/images/StarFilled.png" alt="Star">
          <img class="star" src="assets/images/StarFilled.png" alt="Star">
          <img class="star" src="assets/images/StarFilled.png" alt="Star">
          <img class="star" src="assets/images/StarFilled.png" alt="Star">
          <img class="star" src="assets/images/StarFilled.png" alt="Star">
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-custom3" data-toggle="modal" data-target="#avaliacaoModal">Inserir
      Avaliação</button>
  </div>
  <!---->
  <!-- Modal para inserir avaliacao -->
  <div class="modal fade" id="avaliacaoModal" tabindex="-1" role="dialog" aria-labelledby="avaliacaoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="avaliacaoModal">Inserir Avaliação</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="d-flex align-items-center">
            <p class="mr-2">Classificação:</p> <!--adicionar metodo-->
            <img class="star" src="assets/images/StarBlank.png" alt="Star">
            <img class="star" src="assets/images/StarBlank.png" alt="Star">
            <img class="star" src="assets/images/StarBlank.png" alt="Star">
            <img class="star" src="assets/images/StarBlank.png" alt="Star">
            <img class="star" src="assets/images/StarBlank.png" alt="Star">
          </div>
          <div class="d-flex align-items-center">
            <p class="mb-0 mr-2">Quando foi:</p>
            <!--dia-->
            <select id="day" required>
              <option value="">Dia</option>
              @for( day of days; track day) {
              <option>{{ day }}</option>
              }
            </select>
            <!--mes-->
            <select id="month" required>
              <option value="">Mes</option>
              @for( month of months; track month) {
              <option>{{ month }}</option>
              }
            </select>
            <!--ano-->
            <select id="year" required>
              <option value="">Ano</option>
              @for( year of years; track year) {
              <option>{{ year }}</option>
              }
            </select>
          </div>

          <p>Escreva avaliação:</p>
          <textarea id="avaliacaoTexto" name="avaliacaoTexto" rows="4" cols="60" style="resize: none; overflow-y: auto;"
            placeholder="Escreva a sua avaliação aqui..."></textarea>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Confirmar</button>
          <!--adicionar funcao para inserir avaliacao-->
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <br><br>

</div>