<!--CORPO-->
<div class="container-fluid">
    <h1>Museu Marítimo Nacional Australiano</h1>

    <h2>Historia</h2>

    <p>
        O Museu Marítimo Nacional Australiano, localizado em Darling 
        Harbour, em Sydney, foi criado para celebrar e preservar a rica 
        herança marítima da Austrália. A ideia de um museu marítimo 
        nacional foi proposta em meados da década de 1980, impulsionada 
        pelo reconhecimento do papel significativo que as atividades 
        marítimas desempenharam na história do país, desde a navegação 
        indígena e a exploração europeia até à imigração e defesa naval.
    </p>

    <p>
        A construção do museu começou em 1988, coincidindo com as 
        celebrações do Bicentenário da Austrália. Projetado pelo 
        arquiteto Philip Cox, a arquitetura moderna distinta do museu 
        pretendia refletir temas marítimos, com telhados ondulados e 
        localização à beira-mar. O museu foi inaugurado oficialmente 
        em 29 de novembro de 1991 e foi inaugurado pelo primeiro-ministro 
        Bob Hawke.
    </p>
    
    <p>
        Desde a sua criação, o Museu Marítimo Nacional Australiano 
        concentrou-se em uma ampla gama de temas marítimos. Suas 
        extensas coleções e exposições cobrem tópicos como tradições 
        marítimas indígenas, exploração europeia inicial, imigração 
        por mar, navegação comercial e história naval. O museu também 
        dá ênfase à navegação recreativa e competitiva, bem como ao 
        ambiente marinho.
    </p>

    <p>
        Uma característica fundamental do museu é a sua coleção 
        flutuante de embarcações históricas. Entre os destaques estão 
        o HMAS Vampire, contratorpedeiro aposentado da Marinha Real 
        Australiana; o HMAS Onslow, um submarino da classe Oberon; e 
        uma réplica em escala real do HMB Endeavour do Capitão James 
        Cook, que oferece aos visitantes um vislumbre da vida marítima 
        do século XVIII. Essas embarcações ficam atracadas no cais do 
        museu e abertas ao público.
    </p>

    <p>
        Ao longo dos anos, o museu expandiu suas instalações e programas. 
        Abriga uma variedade de exposições temporárias, iniciativas 
        educacionais e eventos públicos, envolvendo um amplo público e 
        proporcionando experiências de aprendizagem interativas. O 
        compromisso do museu com a educação é evidente nos seus programas 
        escolares abrangentes e nas colaborações com instituições 
        académicas.
    </p>

    <p>
        Nos últimos anos, o Museu Marítimo Nacional Australiano também 
        adotou tecnologias digitais, oferecendo passeios virtuais e 
        recursos online para atingir um público global. As suas 
        exposições incorporam frequentemente elementos multimédia, 
        tornando a história marítima acessível e envolvente para todos 
        os visitantes.
    </p>

    <p>
        O museu continua a ser uma instituição cultural vital, atraindo 
        centenas de milhares de visitantes anualmente. Continua a 
        desempenhar um papel crucial na preservação do património 
        marítimo da Austrália e na educação do público sobre a ligação 
        duradoura da nação com o mar.
    </p>

    <div class="row">
        <div class="col-md-6">
          <!-- Carousel wrapper -->
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="5000">
            <!-- Slides -->
            <div class="carousel-inner mb-5 shadow-1-strong rounded-3">
              <div class="carousel-item active">
                <img src="assets/images/Australian War Memorial/Aircraft Hall.jpg" class="d-block w-100" alt="Aircraft Hall" />
              </div>
              <div class="carousel-item">
                <img src="assets/images/Australian War Memorial/Gallipoli battle zone.webp" class="d-block w-100" alt="Gallipoli battle zone" />
              </div>
              <div class="carousel-item">
                <img src="assets/images/Australian War Memorial/Uniforms WW1.jpg" class="d-block w-100" alt="Uniforms WWI" />
              </div>
            </div>
            <!-- Slides -->
    
            <!-- Controls -->
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
            <!-- Controls -->
    
            <!-- Thumbnails -->
            <div class="carousel-indicators" style="margin-bottom: -20px;">
              <button type="button" data-target="#carouselExampleControls" data-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1" style="width: 100px;">
                <img class="d-block w-100 shadow-1-strong rounded"
                  src="assets/images/Australian War Memorial/Aircraft Hall.jpg" class="img-fluid" alt="Aircraft Hall" />
              </button>
              <button type="button" data-target="#carouselExampleControls" data-slide-to="1" aria-label="Slide 2"
                style="width: 100px;">
                <img class="d-block w-100 shadow-1-strong rounded"
                  src="assets/images/Australian War Memorial/Gallipoli battle zone.webp" class="img-fluid" alt="Gallipoli battle zone" />
              </button>
              <button type="button" data-target="#carouselExampleControls" data-slide-to="2" aria-label="Slide 3"
                style="width: 100px;">
                <img class="d-block w-100 shadow-1-strong rounded"
                  src="assets/images/Australian War Memorial/Uniforms WW1.jpg" class="img-fluid" alt="Uniforms WWI" />
              </button>
            </div>
            <!-- Thumbnails -->
          </div>
        </div>
    
      <div class="col-md-6">
        <!-- Caixa de informações à direita -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Informações:</h5>
            <p>Duração: 2/3 Horas</p>
            <hr>
            <p>Bilhetes desde <span id="ticketPrice">...</span>€</p>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ticketModal">Ver Bilhetes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End row -->
    
    Modal para mostrar os bilhetes
    <div class="modal fade" id="ticketModal" tabindex="-1" role="dialog" aria-labelledby="ticketModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ticketModalLabel">Preçário de Bilhetes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Bilhete c/guia 2€</p>
            <p>Bilhete normal 3€</p>
          </div>
          <div class="modal-footer">
            <a href="https://www.google.com" class="btn btn-primary">Comprar (site oficial)</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Seção do catálogo de obras -->
    <div class="row mt-5">
      <div class="col-md-6">
        <h2>Catálogo obras Museu (top 3 obras mais procuradas):</h2>
        <p><strong>Obra 1:</strong> Autor 1 - Data</p>
        <p><strong>Obra 2:</strong> Autor 2 - Data</p>
        <p><strong>Obra 3:</strong> Autor 3 - Data</p>
      </div>
    </div>
    
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    
    <!-- Seção da localização -->
    <div class="row mt-5">
      <div class="col-md-6">
        <h2>Localização:</h2>
        <p>Treloar Crescent Campbell, Canberra 2612 Austrália</p>
      </div>
    </div>
    
    <!-- Mapa do OpenStreetMap em um quadrado menor -->
    <iframe width="400" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=149.118,-35.298,149.123,-35.295&amp;layer=mapnik&amp;marker=-35.2965,149.1205" style="border: 1px solid black;"></iframe>
    
    <!-- Seção de contatos -->
    <div class="row mt-5">
      <div class="col-md-6">
        <h2>Contactos:</h2>
        <p>Visite o site: <a href="#">link</a></p>
        <p>Telefone: (xx) xxx xxxx</p>
      </div>
    </div>
    
    
    <br>
    <br>
    
    <h2>Mapa</h2>
    
    <h2>Eventos</h2>
    
    <h2>Compra de Bilhetes</h2>
    
    <h2>Avaliações</h2>
    
    <h2>Catálogo de obras</h2>
    
    <h2>Fotos</h2>
    
    <h2>Audio</h2>
    
    <h2>Eventos</h2>
    
    <br>
    No footer: Autores, Data, Categoria(?)

  </div>

    