<!--CORPO-->
<div class="container-fluid">
    <h1>Galeria de Arte de Nova Gales do Sul</h1>

    <h2>Historia</h2>

    <p>
        A Galeria de Arte de Nova Gales do Sul, fundada em 1871, é uma 
        das instituições artísticas mais antigas e importantes da 
        Austrália. Inicialmente chamada de Academia de Arte de Nova 
        Gales do Sul, tinha como objetivo promover a apreciação pública 
        pela arte e apoiar artistas locais. A primeira casa da galeria 
        foi uma estrutura temporária no domínio de Sydney, e acabou 
        sendo transferida para o local atual em 1885.
    </p>

    <p>
        O grandioso edifício neoclássico, projetado pelo arquiteto 
        Walter Liberty Vernon, foi inaugurado oficialmente em etapas, 
        com a entrada principal concluída em 1909. Ao longo dos anos, 
        a galeria passou por inúmeras ampliações e reformas para 
        acomodar seu crescente acervo e o crescente número de 
        visitantes. Adições notáveis incluem a ala do Capitão Cook 
        (1962), o Teatro Domain e Biblioteca de Pesquisa (1988) e a 
        Galeria Yiribana (1994), dedicada à arte aborígine e das ilhas 
        do Estreito de Torres.
    </p>

    <p>
        A coleção da galeria começou com obras de arte europeias e 
        britânicas, refletindo as suas origens coloniais. No entanto, 
        logo se expandiu para incluir uma gama significativa de arte 
        australiana, apresentando obras de artistas renomados como Tom 
        Roberts, Arthur Streeton e Margaret Preston. A galeria também 
        abriga coleções substanciais de arte asiática, arte moderna e 
        contemporânea e fotografia.
    </p>

    <p>
        Nas últimas décadas, a Galeria de Arte de Nova Gales do Sul 
        tem se concentrado na diversificação de seu acervo e 
        programação. Enfatizou a inclusão de obras contemporâneas e a 
        representação de artistas indígenas, garantindo uma narrativa 
        mais ampla e inclusiva da história da arte.
    </p>

    <p>
        A galeria também é conhecida por sediar o prestigiado Prêmio 
        Archibald, o principal concurso de retratos da Austrália, desde 
        1921. Este evento anual atrai um interesse público significativo 
        e apresenta uma ampla gama de talentos artísticos.
    </p>

    <p>
        Hoje, a Galeria de Arte de Nova Gales do Sul continua a ser uma 
        instituição cultural vital, atraindo mais de um milhão de 
        visitantes anualmente. Oferece uma gama dinâmica de exposições, 
        programas educacionais e eventos públicos, promovendo um 
        profundo apreço pela arte e cultura. A galeria continua a 
        evoluir, com planos de expansão adicional, incluindo o Sydney 
        Modern Project, que deverá melhorar as suas instalações e 
        espaços de exposição até 2021.
    </p>

    <hr>

    <h2>Galeria de fotos</h2>

    <hr>

    <h2>Mapa</h2>

    <hr>

    <h2>Eventos</h2>

    <hr>

    <h2>Compra de Bilhetes</h2>

    <hr>

    <h2>Avaliações</h2>

    <hr>

    <h2>Catálogo de obras</h2>

    <hr>

    <h2>Fotos</h2>

    <hr>

    <h2>Audio</h2>

    <hr>
    
    <h2>Eventos</h2>


    <br>
    No footer: Autores, Data, Categoria(?)
</div>