@font-face {
    font-family: Isolde-SmallCaps-Regular;
    src: url('/assets/fonts/Isolde-SmallCaps-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

.header {
    background-image: url('/assets/images/w6-3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    color: white;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-family: Isolde-SmallCaps-Regular;
    position: relative;
    z-index: 1;
}

.header h1 {
    margin: 0;
    padding: 20px;
    text-align: left;
    font-family: Isolde-SmallCaps-Regular;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 80px;
    color: #070707;
}

.translate-container {
    display: flex;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; /* Garante que os botões fiquem no topo */
}

.translate-en, .translate-pt {
    width: 50px;
    height: 30px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 5px; /* Espaço entre os botões */
}

.translate-en {
    background-image: url('../../assets/flags/ingles.png');
}

.translate-pt {
    background-image: url('../../assets/flags/portugal.png');
}

.autenticacao {
    background-color: transparent;
    border-color: transparent;
    color: #000000;
    margin-left: 10px; /* Adiciona espaço entre os botões */
}

.autenticacao i {
    font-size: 2em; /* Aumenta o tamanho do ícone */
}

.nav-link {
    border: none;
    color: #af7e84;
    font-size: 20px;
}

.row {
    width: 100%;
    margin: 0;
    border: none;
    padding: 0; /* Remove qualquer padding que possa causar a linha */
}

.nav-tabs {
    border-bottom: none; /* Remove a borda inferior dos tabs de navegação */
    margin-bottom: 0; /* Remove a margem inferior */
    padding-bottom: 0;
    justify-content: flex-end; /* Alinha os itens à esquerda */
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px; /* Adiciona padding para melhor espaçamento */
    position: absolute;
    left: 0;
    top: 0;
}

.nav-container i {
    font-size: 1.5em; /* Aumenta o tamanho do ícone */
    color: #000000;
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: flex-end; /* Alinha o campo de busca à direita */
    padding: 10px 20px;
}

.header .nav-item {
    margin-right: 40px; /* Adiciona espaçamento entre os itens de navegação */
}

.selecionar {
    display: block;
    background-color: transparent;
    border-width: 1px;
    color: #007bff;
    cursor: pointer;
    border-color: transparent;
}

.selecionar:hover {
    color: #0056b3; 
    border-color: #fff;
}
