/*HEADER*/

/*#5934c8
.header {
    background-color: rgb(207, 206, 241);
    padding: 5px;
    padding-top: 10px;
}*/
@font-face{
    font-family: Isolde-SmallCaps-Regular;
    src:url('/assets/fonts/Isolde-SmallCaps-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
.header {
    background-image: url('/assets/images/w5.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    color: white;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribui espaço entre os itens */
    align-items: flex-start; /* Alinha os itens à esquerda */
    font-family: Isolde-SmallCaps-Regular;
    position: relative;
   
}

.header h1{
    margin: 0;
    padding: 20px;
    text-align: left;
    font-family:Isolde-SmallCaps-Regular;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 80px;
}
.english{
    background-color: transparent;
    border-color: transparent;
    color: rgb(208, 204, 204);

}
.autenticacao{
    background-color: transparent;
    border-color: transparent;
    color: rgb(10, 10, 10);

}
.autenticacao i {
    font-size: 2em; /* Aumenta o tamanho do ícone */
}
.nav-link {
    border: none;
    color: white;
}
.row {
    width: 100%;
    margin: 0;
    border: none;
    padding: 0; /* Remove qualquer padding que possa causar a linha */
}

.nav-tabs {
    border-bottom: none; /* Remove a borda inferior dos tabs de navegação */
    margin-bottom: 0; /* Remove a margem inferior */
    padding-bottom: 0;
    justify-content: flex-start; /* Alinha os itens à esquerda */
}
.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px; /* Adiciona padding para melhor espaçamento */
    position: absolute;
    bottom: 0;
    left: 0;
}
.search-container {
    width: 100%;
    display: flex;
    justify-content: flex-end; /* Alinha o campo de busca à direita */
    padding: 10px 20px;
}
.header .nav-item {
    margin-right: 50px; /* Adiciona espaçamento entre os itens de navegação */
}



.selecionar {
    display: block;
    background-color: transparent;
    border-width: 1px;
    color: #007bff;
    cursor: pointer;
    border-color: transparent;
}

.selecionar:hover {
    color: #0056b3; 
    border-color: #fff;
}

.autenticacao {
    margin-right: 10px;
    margin-left: 10px;
}