<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<!--HEADER

-->
<header class="header">
    
        <button class="btn btn-primary english" (click)="traduzirPagina()">Traduzir para ingles</button>
         
    

    <div class="row">
        
            <h1>MuseTrail</h1>
       
        <div class="nav-container">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="">Home</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Contactos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login"> <i class="fas fa-user"></i></a>
                  </li>
            </ul>
        </div>

        <div class="search-container">
            <div class="input-group" style="width: 300px;">
                <input type="text" class="form-control" placeholder="Search">
                <button class="btn btn-dark" type="button">
                    <img src="../assets/images/search.png" width="20px">
                </button>
                
            </div>
        </div>
    </div>
</header>