<!--FOOTER-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="footer">

    <div class="newsletter">
        <h2>NEWSLETTER</h2>
        <p>Todas as novidades sobre novos eventos no seu email!</p>
        <input type="email" placeholder="Escreva o seu e-mail">
        <button type="button">Enviar</button>
    </div>

    <div class="row">

        <div class="col-md-2">
            <br><h3>AO SEU DISPOR</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="about">Quem Somos</a></li>
            </ul>
        </div>
        <div class="col-md-2"><br>
            <h3>CONTACTOS</h3>
            <p>123 Avenida, Asdga, ASFa</p>
            <p>Email: info&#64;example.com</p>
            <p>Phone: +123-456-7890</p>
        </div> 
        <div class="col-md-2"><br>
            <h3>REDES SOCIAIS</h3>
            <p>Siga-nos e partilhe!</p>
            <div class="social-icons">
                <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="mailto:info@example.com"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
        <div class="col-md-2"><br>
            <h3>ÁREA DE CLIENTE</h3>
            <p>A Sua Conta</p>
            <p>Registo / Entrada</p>
        </div>
        <div class="col-md-2"><br>
            <h3>OPINIÃO</h3>
            <p>Livro de Elogios</p>
            <p>Livro de Reclamações</p>
        </div>
        <div class="col-md-2"><br>
            <h3>INFORMAÇÕES</h3>
            <p>Política de Privacidade</p>
        </div>
    </div>
<br>

    <div>
        <p>&copy; 2024 Your Company. All Rights Reserved.</p>
    </div>

</div>

