<!--FOOTER-->
<div class="footer">

    <div class="row">

        <div class="col-md-4">
            <h3>Sobre Nos</h3>
            <p>Hola! Somos nos.</p>
        </div>
        <div class="col-md-4">
            <h3>Links</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contactos</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Contactos</h3>
            <p>123 Avenida, Asdga, ASFa</p>
            <p>Email: info&#64;example.com</p>
            <p>Phone: +123-456-7890</p>
        </div>
    </div>

    <div>
        <p>&copy; 2024 Your Company. All Rights Reserved.</p>
    </div>

</div>