.footer {
    background: linear-gradient(to bottom, rgba(241, 241, 244, 0.071), rgb(201, 198, 250));
    padding: 5px;
    padding-bottom: 10px;
}
/*linear-gradient(to bottom, white, rgb(130, 126, 238));
rgb(207, 206, 241); */
.social-icons a {
    margin-right: 10px;
    color: #000;
}

.social-icons a:hover {
    color: #007bff;
}