<!--CORPO-->
<div class="container-fluid">
    <h1>Museu do Louvre</h1>

    <h2>Historia</h2>
    <p>
        A história do Museu do Louvre é tão rica e complexa quanto as 
        obras que abriga. Originalmente uma fortaleza medieval 
        construída no final do século XII sob o rei Filipe II, o Louvre 
        serviu como residência real durante vários séculos. Foi 
        transformado em museu durante a Revolução Francesa, quando o 
        governo revolucionário o abriu ao público em 1793, apresentando 
        a coleção de arte real como símbolo de orgulho nacional e acesso 
        à cultura.
    </p>

    <p>
        Ao longo dos anos, o museu passou por inúmeras ampliações e 
        reformas, cada uma aumentando seu significado arquitetônico e 
        histórico. Uma das expansões mais notáveis foi a adição da 
        entrada piramidal de vidro projetada pelo arquiteto I. M. Pei 
        em 1989, que desde então se tornou um símbolo icônico do museu.
    </p>

    <p>
        A coleção do Louvre é vasta e diversificada, abrangendo obras de 
        arte e artefatos de praticamente todas as civilizações e épocas. 
        Inclui obras-primas como a antiga estátua grega "Vênus de Milo", 
        a escultura alada da vitória "Nike de Samotrácia" e, claro, o 
        enigmático retrato de Leonardo da Vinci "Mona Lisa", que atrai 
        milhões de visitantes todos os anos.
    </p>

    <p>
        As coleções do museu estão organizadas em oito departamentos, 
        incluindo Antiguidades do Oriente Próximo, Antiguidades Egípcias, 
        Antiguidades Gregas, Etruscas e Romanas, Arte Islâmica, 
        Esculturas, Artes Decorativas, Pinturas e Gravuras e Desenhos. 
        Cada departamento oferece uma exploração abrangente de seu 
        respectivo campo, proporcionando aos visitantes insights sobre a 
        diversidade e a evolução da criatividade humana.
    </p>

    <p>
        Além das coleções permanentes, o Louvre acolhe exposições 
        temporárias, programas educativos e eventos culturais, 
        enriquecendo ainda mais a experiência do visitante. Continua a 
        ser um centro vital de pesquisa, conservação e estudos, atraindo 
        entusiastas da arte, acadêmicos e turistas de todo o mundo.
    </p>

    <p>
        O Museu do Louvre não é apenas um repositório de arte e cultura, 
        mas também um símbolo do compromisso duradouro da França com as 
        artes e do seu papel na formação do património cultural global. 
        O seu legado como uma das instituições culturais mais 
        proeminentes do mundo continua a inspirar e cativar públicos de 
        todas as idades e origens.
    </p>

    <hr>

    <h2>Galeria de fotos</h2>
    
    <hr>

    <h2>Mapa</h2>

    <hr>

    <h2>Eventos</h2>

    <hr>

    <h2>Compra de Bilhetes</h2>

    <hr>

    <h2>Avaliações</h2>

    <hr>

    <h2>Catálogo de obras</h2>

    <hr>

    <h2>Fotos</h2>

    <hr>

    <h2>Audio</h2>

    <hr>

    <h2>Eventos</h2>

    <hr>


    <br>
    No footer: Autores, Data, Categoria(?)
</div>