<!--CORPO-->
<div class="container-fluid">
  <h1>Museu do Louvre</h1>
  <h3>Arte</h3>

  <img class="star" src="assets/images/StarFilled.png" alt="Star">
  <img class="star" src="assets/images/StarFilled.png" alt="Star">
  <img class="star" src="assets/images/StarFilled.png" alt="Star">
  <img class="star" src="assets/images/StarFilled.png" alt="Star">
  <img class="star" src="assets/images/StarBlank.png" alt="Star">

  <div class="horario-container">
    <h2>Horário</h2>
    <div class="status">
      <span>{{ statusText }}</span>
      <!-- Botão para abrir o modal -->
      <button type="button" class="btn btn-custom" data-toggle="modal" data-target="#horariomodal">Ver horários</button>
    </div>
    <!-- Modal Horário-->
    <div class="modal fade" id="horariomodal" tabindex="-1" role="dialog" aria-labelledby="horariomodalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="horariomodalLabel">Horário</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p> <strong>Segunda-feira</strong> 09:00 - 18:00</p>
            <p> <strong>Terça-feira</strong> Encerrado</p>
            <p> <strong>Quarta-feira</strong> 09:00 - 21:00</p>
            <p> <strong>Quinta-feira</strong> 09:00 - 18:00</p>
            <p> <strong>Sexta-feira</strong> 09:00 - 21:00</p>
            <p> <strong>Sábado</strong> 09:00 - 18:00</p>
            <p> <strong>Domingo</strong> 09:00 - 18:00</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <br>

  <script src="script.js"></script>

  <div class="row">
    <div class="col-md-6">
      <!-- Carousel wrapper -->
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="5000">
        <!-- Slides -->
        <div class="carousel-inner mb-5 shadow-1-strong rounded-3">
          <div class="carousel-item active">
            <img src="assets/images/Louvre/Louvre1.webp" class="d-block w-100" alt="Louvre1" />
          </div>
          <div class="carousel-item">
            <img src="assets/images/Louvre/Louvre2.jpg" class="d-block w-100" alt="Louvre2" />
          </div>
          <div class="carousel-item">
            <img src="assets/images/Louvre/Louvre3.jpg" class="d-block w-100" alt="Louvre3" />
          </div>
        </div>
        <!-- Slides -->

        <!-- Controls -->
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
        <!-- Controls -->

        <!-- Thumbnails -->
        <div class="carousel-indicators" style="margin-bottom: -20px;">
          <button type="button" data-target="#carouselExampleControls" data-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1" style="width: 100px;">
            <img class="d-block w-100 shadow-1-strong rounded" src="assets/images/Louvre/Louvre1.webp" class="img-fluid"
              alt="Louvre1" />
          </button>
          <button type="button" data-target="#carouselExampleControls" data-slide-to="1" aria-label="Slide 2"
            style="width: 100px;">
            <img class="d-block w-100 shadow-1-strong rounded" src="assets/images/Louvre/Louvre2.jpg" class="img-fluid"
              alt="Louvre2" />
          </button>
          <button type="button" data-target="#carouselExampleControls" data-slide-to="2" aria-label="Slide 3"
            style="width: 100px;">
            <img class="d-block w-100 shadow-1-strong rounded" src="assets/images/Louvre/Louvre3.jpg" class="img-fluid"
              alt="Louvre3" />
          </button>
        </div>
        <!-- Thumbnails -->
      </div>
    </div>

    <div class="col-md-6">
      <!-- Caixa de informações à direita -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bilhetes </h5>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ticketModal">Ver
            Bilhetes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End row -->

  <!-- Modal para mostrar os bilhetes -->
  <div class="modal fade" id="ticketModal" tabindex="-1" role="dialog" aria-labelledby="ticketModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ticketModalLabel">Preçário de Bilhetes</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Bilhete Geral 22€</p>
          <p>Bilhete Menor de Idade Gratis</p>
        </div>
        <div class="modal-footer">
          <a href="https://www.louvre.fr/en/visit/hours-admission#ticket-prices" class="btn btn-primary">Comprar (site
            oficial)</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <h2>Historia</h2>
  <p>
    A história do Museu do Louvre é tão rica e complexa quanto as
    obras que abriga. Originalmente uma fortaleza medieval
    construída no final do século XII sob o rei Filipe II, o Louvre
    serviu como residência real durante vários séculos. Foi
    transformado em museu durante a Revolução Francesa, quando o
    governo revolucionário o abriu ao público em 1793, apresentando
    a coleção de arte real como símbolo de orgulho nacional e acesso
    à cultura.
  </p>

  <p>
    Ao longo dos anos, o museu passou por inúmeras ampliações e
    reformas, cada uma aumentando seu significado arquitetônico e
    histórico. Uma das expansões mais notáveis foi a adição da
    entrada piramidal de vidro projetada pelo arquiteto I. M. Pei
    em 1989, que desde então se tornou um símbolo icônico do museu.
  </p>

  <p>
    A coleção do Louvre é vasta e diversificada, abrangendo obras de
    arte e artefatos de praticamente todas as civilizações e épocas.
    Inclui obras-primas como a antiga estátua grega "Vênus de Milo",
    a escultura alada da vitória "Nike de Samotrácia" e, claro, o
    enigmático retrato de Leonardo da Vinci "Mona Lisa", que atrai
    milhões de visitantes todos os anos.
  </p>

  <p>
    As coleções do museu estão organizadas em oito departamentos,
    incluindo Antiguidades do Oriente Próximo, Antiguidades Egípcias,
    Antiguidades Gregas, Etruscas e Romanas, Arte Islâmica,
    Esculturas, Artes Decorativas, Pinturas e Gravuras e Desenhos.
    Cada departamento oferece uma exploração abrangente de seu
    respectivo campo, proporcionando aos visitantes insights sobre a
    diversidade e a evolução da criatividade humana.
  </p>

  <p>
    Além das coleções permanentes, o Louvre acolhe exposições
    temporárias, programas educativos e eventos culturais,
    enriquecendo ainda mais a experiência do visitante. Continua a
    ser um centro vital de pesquisa, conservação e estudos, atraindo
    entusiastas da arte, acadêmicos e turistas de todo o mundo.
  </p>

  <p>
    O Museu do Louvre não é apenas um repositório de arte e cultura,
    mas também um símbolo do compromisso duradouro da França com as
    artes e do seu papel na formação do património cultural global.
    O seu legado como uma das instituições culturais mais
    proeminentes do mundo continua a inspirar e cativar públicos de
    todas as idades e origens.
  </p>

  <!-- Seção do catálogo de obras -->
  <div class="row mt-5">
    <div class="col-md-6">
      <h2>Obras mais procuradas</h2>
      <p>
        <strong>Mona Lisa</strong>
        - Leonardo da Vinci - 1503 <br>
        A Mona Lisa, um dos tesouros mais emblemáticos do Museu do Louvre, cativa os espectadores com o seu sorriso
        enigmático e aura intemporal. Pintada por Leonardo da Vinci no início do século XVI, esta obra-prima apresenta
        pinceladas meticulosas e uma sensação de profundidade que continua a intrigar os entusiastas da arte em todo o
        mundo.
      </p>
      <p><strong>The Coronation of Napoleon</strong>
        - Jacques-Louis David - 1807 <br>
        A Coroação de Napoleão, pintada por Jacques-Louis David, é uma obra de arte monumental exposta com destaque no
        Museu do Louvre. Esta obra-prima captura a grandeza e o espetáculo da coroação de Napoleão Bonaparte como
        Imperador da França em 1804, mostrando o domínio do artista no estilo neoclássico e na narrativa histórica.
      </p>
      <p><strong>Dante and Virgil in Hell</strong>
        - Eugène Delacroix - 1850 <br>
        Dante e Virgílio no Inferno, também conhecido como A Barca de Dante, é uma pintura cativante exposta no Museu do
        Louvre. Criada pelo artista francês Eugène Delacroix, a obra de arte retrata vividamente uma cena da Divina
        Comédia de Dante Alighieri, mostrando Dante e Virgílio navegando nas profundezas infernais, evocando temas de
        exploração, jornada espiritual e condição humana.
      </p>
    </div>
  </div>

  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

  <br>
  <h2>Audio</h2>
  <p>Audioguia em português do museu do louvre </p>
  <audio controls>
    <source src="assets/images/Louvre/Audio.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>


  <!-- Seção da localização -->
  <div class="row mt-5">
    <div class="col-md-6">
      <h2>Localização:</h2>
      <p>75001 Paris </p>
      <p>France</p>
    </div>
  </div>48.86063227527804, 2.337644
  <div class="container-fluid">
    <div class="row contact-map-container mt-5">
      <div class="col-md-6 map">
        <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
          src="https://www.openstreetmap.org/export/embed.html?bbox=2.3370,48.8599,2.3380,48.8615&amp;layer=mapnik&amp;marker=48.86063227527804,2.337644"
          style="border: 1px solid black;"></iframe>
      </div>
      <div class="col-md-6 contacts">
        <h2>Contactos:</h2>
        <p>Questões Gerais: +33 (0)1 40 20 53 17</p>
        <p>Perguntas Sobre Acesso Para Deficientes: +33 (0)1 40 20 59 90</p>
        <p>Visitas Guiadas e Workshops: +33 (0)1 40 20 52 63</p>
        <p>Visite o site: <a href="https://www.louvre.fr/en">aqui</a></p>
      </div>
    </div>
  </div>

  <br>
  <br>
  <div class="avaliacoes">
    <h2>Avaliações</h2>
    <img class="star" src="assets/images/StarFilled.png" alt="Star">
    <img class="star" src="assets/images/StarFilled.png" alt="Star">
    <img class="star" src="assets/images/StarFilled.png" alt="Star">
    <img class="star" src="assets/images/StarFilled.png" alt="Star">
    <img class="star" src="assets/images/StarBlank.png" alt="Star">
    <div class="avaliacao">
      <div class="row">
        <div class="col-md-6">
          <div>
            <strong>Aisha</strong>
            <p>03/03/2024</p>
          </div>
          La dilfeas vuot quo scolt. Mue poz artriu mostre qua potraste.
        </div>
        <div class="col-md-6 text-md-end">
          <img class="star" src="assets/images/StarFilled.png" alt="Star">
          <img class="star" src="assets/images/StarFilled.png" alt="Star">
          <img class="star" src="assets/images/StarFilled.png" alt="Star">
          <img class="star" src="assets/images/StarFilled.png" alt="Star">
          <img class="star" src="assets/images/StarBlank.png" alt="Star">
        </div>
      </div>
    </div>

    <div class="avaliacao">
      <div class="row">
        <div class="col-md-6">
          <div>
            <strong>Emma</strong>
            <p>01/08/2022</p>
          </div>
          La dilfeas vuot quo sc olt. Mue poz artriu mostre qua potraste.
        </div>
        <div class="col-md-6 text-md-end">
          <img class="star" src="assets/images/StarFilled.png" alt="Star">
          <img class="star" src="assets/images/StarFilled.png" alt="Star">
          <img class="star" src="assets/images/StarFilled.png" alt="Star">
          <img class="star" src="assets/images/StarBlank.png" alt="Star">
          <img class="star" src="assets/images/StarBlank.png" alt="Star">
        </div>
      </div>
    </div>

    <div class="avaliacao">
      <div class="row">
        <div class="col-md-6">
          <div>
            <strong>Benny</strong>
            <p>22/07/2021</p>
          </div>
          La dilfeas vuot quo scolt. Mue poz artriu mostre qua potraste.
        </div>
        <div class="col-md-6 text-md-end">
          <img class="star" src="assets/images/StarFilled.png" alt="Star">
          <img class="star" src="assets/images/StarFilled.png" alt="Star">
          <img class="star" src="assets/images/StarFilled.png" alt="Star">
          <img class="star" src="assets/images/StarFilled.png" alt="Star">
          <img class="star" src="assets/images/StarFilled.png" alt="Star">
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-custom3" data-toggle="modal" data-target="#avaliacaoModal">Inserir
      Avaliação</button>
  </div>
  <!---->
  <!-- Modal para inserir avaliacao -->
  <div class="modal fade" id="avaliacaoModal" tabindex="-1" role="dialog" aria-labelledby="avaliacaoModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="avaliacaoModal">Inserir Avaliação</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="d-flex align-items-center">
            <p class="mr-2">Classificação:</p> <!--adicionar metodo-->
            <img class="star" src="assets/images/StarBlank.png" alt="Star">
            <img class="star" src="assets/images/StarBlank.png" alt="Star">
            <img class="star" src="assets/images/StarBlank.png" alt="Star">
            <img class="star" src="assets/images/StarBlank.png" alt="Star">
            <img class="star" src="assets/images/StarBlank.png" alt="Star">
          </div>
          <div class="d-flex align-items-center">
            <p class="mb-0 mr-2">Quando foi:</p>
            <!--dia-->
            <select id="day" required>
              <option value="">Dia</option>
              @for( day of days; track day) {
              <option>{{ day }}</option>
              }
            </select>
            <!--mes-->
            <select id="month" required>
              <option value="">Mes</option>
              @for( month of months; track month) {
              <option>{{ month }}</option>
              }
            </select>
            <!--ano-->
            <select id="year" required>
              <option value="">Ano</option>
              @for( year of years; track year) {
              <option>{{ year }}</option>
              }
            </select>
          </div>

          <p>Escreva avaliação:</p>
          <textarea id="avaliacaoTexto" name="avaliacaoTexto" rows="4" cols="60" style="resize: none; overflow-y: auto;"
            placeholder="Escreva a sua avaliação aqui..."></textarea>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Confirmar</button>
          <!--adicionar funcao para inserir avaliacao-->
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>