<<<<<<< HEAD
:host {
    display: block;
    background-color: #9c6a72;
}

h1 {
    margin-top: 0px;
=======
h1 {
    margin-top: 10px;
>>>>>>> parent of a98fce7 (j)
    margin-bottom: 20px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
<<<<<<< HEAD

.about-section,
.mission-section,
.unique-section,
.how-section {
    margin-bottom: 40px;
}

=======
.about-section, .mission-section, .unique-section, .how-section {
    margin-bottom: 40px;
}
>>>>>>> parent of a98fce7 (j)
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
<<<<<<< HEAD

.about-section,
.mission-section,
.unique-section,
.how-section {
    margin-bottom: 40px;
}

h1,
h2 {
    color: #333;
}

=======
.about-section, .mission-section, .unique-section, .how-section {
    margin-bottom: 40px;
}
h1, h2 {
    color: #333;
}
>>>>>>> parent of a98fce7 (j)
img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}