
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

<div id="bg-04">
    <div class="main-04">

        <!--Icon div-->
        <div class="iconDiv-04">
            <a href="home">
                <img src="../../assets/images/logo1.png" class="icon-04" alt="Logo" />
            </a>
        </div>

        <!-- Form div -->
        <div class="formDiv-04">

            <span class="poppins-regular greetings-04">
                <b>Bem vindo!</b>
            </span>
            <div class="input-box-04">
                <span class="material-symbols-outlined">person</span>
                <input
                    class="poppins-regular input-04"
                    type="text"
                    id="email-04"
                    placeholder="Email"
                />
            </div>
            <div class="input-box-04">
                <span class="material-symbols-outlined">lock</span>
                <input
                    class="poppins-regular input-04"
                    type="password"
                    id="password-04"
                    placeholder="Password"
                />
            </div>

            <a href="" ><button class="poppins-regular button-04"> login</button></a>

                <!--Text that take user to regist page-->
            <span class="poppins-regular linknote-04"> Não registado? <a class="linkhover" href="registe">Registar</a></span>

        </div>
    </div>
</div>
