
    <!--Header-->
    <header class="header">
        <div class="d-flex justify-content-between align-items-center">
            <!--<button class="btn btn-primary" onclick="traduzirPagina()">Traduzir para ingles</button>-->
            <button class="btn btn-primary" (click)="traduzirPagina()">Traduzir para ingles</button>
            <div class="input-group" style="width: 300px;">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-append">
                    <button class="btn btn-dark" type="button"><img src="../assets/images/search.png" width="20px"></button>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Museums
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Louvre</a>
                            <a class="dropdown-item" href="#">British Museum</a>
                            <a class="dropdown-item" href="#">Metropolitan Museum of Art</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">More Museums...</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>






    <header>
        <h1>CATALOGO</h1>
    </header>

    <main>
        <div class = "museus">
            <!--museu Memorial de Guerra Australiano-->
            <div class="museu">
                <a href = "1.AWM.html"><img src = "../assets/images/Australian War Memorial.jpg" alt = "Memorial de Guerra Australiano" height = "150px" width = "250px"></a>
                <p><b>Memorial de Guerra Australiano</b></p>
                <p>descricao</p>
            </div>

            <!--museu Museu de Melbourne-->
            <div class="museu">
                <a href = "2.MM.html"><img src = "../assets/images/Melbourne Museum.jpg" alt = "Museu de Melbourne" height = "150px" width = "250px"></a>
                <p><b>Museu de Melbourne</b></p>
                <p>descricao</p>
            </div>
            

            <!--museu Art Gallery of New South Wales-->
            <div class="museu">
                <a href = "3.AGNSW.html"><img src = "../assets/images/Art Gallery of New South Wales.jpg" alt = "Art Gallery of New South Wales" height = "150px" width = "250px"></a>
                <p><b>Art Gallery of New South Wales </b></p>
                <p>descricao</p>   
            </div>

            <!--museu Museu Marítimo Nacional Australiano-->
            <div class="museu">
                <a href = "4.ANMM.html"><img src = "../assets/images/Australian National Maritime Museum.jpg" alt = "Australian National Maritime Museum" height = "150px" width = "250px"></a>
                <p><b>Museu Marítimo Nacional Australiano</b></p>
                <p>descricao</p>    
            </div>
        </div>
    </main>

    <footer>
        <p align = "right">&copy; 2024 NOME</p>
    </footer>


<router-outlet />
