<!--CORPO-->
<div class="container-fluid">
    <h1>Museu de Melbourne</h1>

    <h2>Historia</h2>
    <p>
        O Museu de Melbourne, fundado em 1854 como “Museu Nacional 
        de Victoria”, é uma das instituições culturais mais antigas 
        da Austrália. Inicialmente instalado em vários locais, 
        mudou-se para o local atual em Carlton Gardens no ano 2000, onde 
        se tornou parte do complexo do Museu de Melbourne ao lado do 
        Royal Exhibition Building, Patrimônio Mundial da UNESCO.
    </p>

    <p>
        A coleção do museu começou com espécimes científicos, 
        artefatos etnográficos e itens de história natural reunidos 
        pela Royal Society of Victoria. Com o tempo, expandiu-se 
        significativamente, abrangendo diversos campos como 
        antropologia, geologia, paleontologia, zoologia e tecnologia.
    </p>

    <p>
        Ao longo de sua história, o museu passou por diversas mudanças 
        de nome e ampliações. Em 1899, foi renomeado como "Museu 
        de Victoria". Em 1992, fundiu-se com o Museu da Ciência de 
        Victoria para formar o Museu Victoria, reflectindo o seu 
        âmbito mais amplo.
    </p>

    <p>
        A construção do edifício do Museu de Melbourne, especialmente 
        construído, começou na década de 1990, como parte das 
        celebrações do sesquicentenário de Victoria. Projetado por 
        Denton Corker Marshall Architects, a distinta arquitetura 
        contemporânea do museu apresenta linhas ousadas e um exterior 
        impressionante.
    </p>

    <p>
        O museu foi oficialmente aberto ao público em 2000, coincidindo 
        com os Jogos Olímpicos de Sydney. Seus vastos espaços de 
        exposição abrigam uma riqueza de artefatos e exibições 
        interativas, incluindo a amada "Forest Gallery", 
        "Dinosaur Walk", "Melbourne Story" e "Bunjilaka Aboriginal 
        Cultural Centre".
    </p>

    <p>
        Bunjilaka, que significa “ponto de encontro” na língua da nação 
        Kulin, mostra a rica herança cultural dos povos indígenas da 
        Austrália. Fornece uma plataforma para vozes, perspectivas e 
        histórias indígenas, promovendo maior compreensão e reconciliação.
    </p>

    <p>
        Hoje, o Museu de Melbourne continua a evoluir, com aquisições 
        contínuas, iniciativas de pesquisa e programas de envolvimento 
        comunitário. Serve como um centro vibrante para educação, 
        exploração e apreciação do património natural e cultural de 
        Victoria, atraindo visitantes de todo o mundo.
    </p>

    <hr>

    <h2>Galeria de fotos</h2>

    <hr>

    <h2>Mapa</h2>

    <hr>

    <h2>Eventos</h2>

    <hr>

    <h2>Compra de Bilhetes</h2>

    <hr>

    <h2>Avaliações</h2>

    <hr>

    <h2>Catálogo de obras</h2>

    <hr>

    <h2>Fotos</h2>

    <hr>

    <h2>Audio</h2>

    <hr>
    
    <h2>Eventos</h2>


    <br>
    No footer: Autores, Data, Categoria(?)
</div>