<!--HEADER-->
<header class="header">
    <div class="row">
        <div class="col-9 d-flex justify-content-between align-items-center">
            <button class="btn btn-primary" (click)="traduzirPagina()">Traduzir para ingles</button>
        </div>
        <div class="col-3 d-flex justify-content-end">
            <button class="btn btn-primary autenticacao" (click)="SignUp()">Sign Up</button>
            <button class="btn btn-primary autenticacao" (click)="Login()">Login</button>
            &nbsp;
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-9">
            <ul class="nav nav-tabs">
                <li class="nav-item dropdown">
                    <select class="form-select selecionar">
                        <option selected>Museus</option>
                        <option value="1">Memorial de Guerra Australiano</option>
                        <option value="2">Museu de Melbourne</option>
                        <option value="3">Art Gallery of New South Wales</option>
                        <option value="4">Museu Marítimo Nacional Australiano</option>
                    </select>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Contactos</a>
                </li>
            </ul>
        </div>
        <div class="col-3 d-flex justify-content-end">
            <div class="input-group" style="width: 300px;">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-append">
                    <button class="btn btn-dark" type="button"><img src="../assets/images/search.png" width="20px"></button>
                </div>
                &nbsp;
            </div>
        </div>
    </div>
</header>

<!--CORPO-->
<br>

<h1>CATALOGO</h1>
    
<main>
    <div class = "museus">
        <!--museu Memorial de Guerra Australiano-->
        <div class="museu">
            <div class="amostra">
                <a href = "guerraAustralia"><img src = "../assets/images/Australian War Memorial.jpg" alt = "Memorial de Guerra Australiano" height = "150px" width = "250px"></a>
                <p><b>Memorial de Guerra Australiano</b></p>
                <p class="saber" style="color: white;">Saber mais v</p>
            </div>
            <div class="escondido">
                <p class="descricao">Lorem ipsum dolor sit amet, consectetur adipiscing <br>
                    elit, sed do eiusmod tempor incididunt ut labore <br>
                    et dolore magna aliqua. Ut enim ad minim veniam, <br>
                    quis nostrud exercitation ullamco laboris nisi ut <br>
                    aliquip ex ea commodo consequat. Duis aute irure <br>
                    dolor in reprehenderit in voluptate velit esse <br>
                    cillum dolore eu fugiat nulla pariatur. Excepteur <br>
                    sint occaecat cupidatat non proident, sunt in culpa <br>
                    qui officia deserunt mollit anim id est laborum.</p>

                <div class="esquerda">
                    <a href="guerraAustralia" class="btn btn-link">Saber mais ></a>
                </div>
            </div>
        </div>

        <!--museu Museu de Melbourne-->
        <div class="museu">
            <div class="amostra">
                <a href = "#"><img src = "../assets/images/Melbourne Museum.jpg" alt = "Museu de Melbourne" height = "150px" width = "250px"></a>
                <p><b>Museu de Melbourne</b></p>
                <p class="saber" style="color: white;">Saber mais v</p>
            </div>
            <div class="escondido">
                <p class="descricao">Lorem ipsum dolor sit amet, consectetur adipiscing <br>
                    elit, sed do eiusmod tempor incididunt ut labore <br>
                    et dolore magna aliqua. Ut enim ad minim veniam, <br>
                    quis nostrud exercitation ullamco laboris nisi ut <br>
                    aliquip ex ea commodo consequat. Duis aute irure <br>
                    dolor in reprehenderit in voluptate velit esse <br>
                    cillum dolore eu fugiat nulla pariatur. Excepteur <br>
                    sint occaecat cupidatat non proident, sunt in culpa <br>
                    qui officia deserunt mollit anim id est laborum.</p>

                <div class="esquerda">
                    <a href="#" class="btn btn-link">Saber mais ></a>
                </div>
            </div>
        </div> 

        <!--museu Art Gallery of New South Wales-->
        <div class="museu">
            <div class="amostra">
                <a href = "#"><img src = "../assets/images/Art Gallery of New South Wales.jpg" alt = "Art Gallery of New South Wales" height = "150px" width = "250px"></a>
                <p><b>Art Gallery of New South Wales </b></p>
                <p class="saber" style="color: white;">Saber mais v</p>
            </div>
            <div class="escondido">
                <p class="descricao">Lorem ipsum dolor sit amet, consectetur adipiscing <br>
                    elit, sed do eiusmod tempor incididunt ut labore <br>
                    et dolore magna aliqua. Ut enim ad minim veniam, <br>
                    quis nostrud exercitation ullamco laboris nisi ut <br>
                    aliquip ex ea commodo consequat. Duis aute irure <br>
                    dolor in reprehenderit in voluptate velit esse <br>
                    cillum dolore eu fugiat nulla pariatur. Excepteur <br>
                    sint occaecat cupidatat non proident, sunt in culpa <br>
                    qui officia deserunt mollit anim id est laborum.</p>

                <div class="esquerda">
                    <a href="#" class="btn btn-link">Saber mais ></a>
                </div>
            </div>
        </div>

        <!--museu Museu Marítimo Nacional Australiano-->
        <div class="museu">
            <div class="amostra">
                <a href = "#"><img src = "../assets/images/Australian National Maritime Museum.jpg" alt = "Australian National Maritime Museum" height = "150px" width = "250px"></a>
                <p><b>Museu Marítimo Nacional Australiano</b></p>
                <p class="saber" style="color: white;">Saber mais v</p>
            </div>
            <div class="escondido">
                <p class="descricao">Lorem ipsum dolor sit amet, consectetur adipiscing <br>
                    elit, sed do eiusmod tempor incididunt ut labore <br>
                    et dolore magna aliqua. Ut enim ad minim veniam, <br>
                    quis nostrud exercitation ullamco laboris nisi ut <br>
                    aliquip ex ea commodo consequat. Duis aute irure <br>
                    dolor in reprehenderit in voluptate velit esse <br>
                    cillum dolore eu fugiat nulla pariatur. Excepteur <br>
                    sint occaecat cupidatat non proident, sunt in culpa <br>
                    qui officia deserunt mollit anim id est laborum.</p>

                <div class="esquerda">
                    <a href="#" class="btn btn-link">Saber mais ></a>
                </div>
            </div>
        </div>
    </div>
</main>

<!--FOOTER-->
<footer>
    <p align = "right">&copy; 2024 NOME</p>
</footer>
