/*HEADER*/
.header {
    background-color: rgb(207, 206, 241);
}

.selecionar {
    display: block;
    background-color: transparent;
    border-width: 1px;
    color: #007bff;
    cursor: pointer;
    border-color: transparent;
}

.selecionar:hover {
    color: #0056b3; 
    border-color: #fff;
}

.autenticacao {
    margin-right: 10px;
    margin-left: 10px;
}

/*CORPO*/
.museu {
    text-align:center;
    margin-bottom: 20px;
    border-radius: 15px; 
    max-width: 350px;
    overflow: hidden; 
}

.amostra {
    background-color: rgba(250, 114, 125, 0.627);
    padding: 10px;   
}

.museus {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.descricao {
    font-size: 14px;
}

.esquerda {
    text-align: left;
}

.museu .escondido {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding-right: 10px;
    padding-left: 10px;
}

.museu:hover .escondido {
    visibility: visible;
    opacity: 1;
    max-height: 500px;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    background-color: rgba(250, 114, 125, 0.627);
    
}

.museu:hover .saber {
    display: none;
}

img {
    border-radius: 15px; 
}