<!--CORPO-->
<br>

<h1>CATALOGO</h1>
    
<main class="container-fluid">
    <div class = "museus">
        <!--museu Memorial de Guerra Australiano-->
        <div class="museu">
            <div class="amostra">
                <a href = "guerraAustralia"><img src = "../assets/images/Australian War Memorial.jpg" alt = "Memorial de Guerra Australiano" height = "200px" width = "300px"></a>
                <p><b>Memorial de Guerra Australiano</b></p>
                <p class="saber" style="color: white;">Saber mais v</p>
            </div>
            <div class="escondido">
                <p class="descricao">
                    O Memorial de Guerra Australiano em Canberra comemora 
                    os sacrifícios dos militares australianos. Combina um 
                    santuário, um museu de classe mundial e um extenso arquivo, 
                    apresentando artefatos, dioramas e exposições da história 
                    militar da Austrália. </p>

                <p class="descricao">
                    O Memorial também apresenta o Quadro de Honra, listando 
                    os nomes dos soldados mortos, e organiza cerimônias para 
                    homenagear seu legado. É uma importante instituição 
                    cultural e histórica dedicada à memória e à educação. </p>

                <div class="esquerda">
                    <a href="guerraAustralia" class="btn btn-link">Saber mais ></a>
                </div>
            </div>
        </div>

        <!--museu Museu Field-->
        <div class="museu">
            <div class="amostra">
                <a href = "field"><img src = "../assets/images/FieldMuseum.jpg" alt = "Museu Field" height = "200px" width = "300px"></a>
                <p><b>Museu Field</b></p>
                <p class="saber" style="color: white;">Saber mais v</p>
            </div>
            <div class="escondido">
                <p class="descricao">
                    </p>

                <div class="esquerda">
                    <a href="field" class="btn btn-link">Saber mais ></a>
                </div>
            </div>
        </div> 

        <!--museu Museu de Ciência e Tecnologia de Xangai-->
        <div class="museu">
            <div class="amostra">
                <a href = "xangai"><img src = "../assets/images/XangaiMuseum.jpg" alt = "Art Gallery of New South Wales" height = "200px" width = "300px"></a>
                <p><b>Museu de Ciência e Tecnologia de Xangai </b></p>
                <p class="saber" style="color: white;">Saber mais v</p>
            </div>
            <div class="escondido">
                <p class="descricao">
                    </p>

                <div class="esquerda">
                    <a href="xangai" class="btn btn-link">Saber mais ></a>
                </div>
            </div>
        </div>

        <!--museu Museu Marítimo Nacional Australiano-->
        <div class="museu">
            <div class="amostra">
                <a href = "nationalAustralian"><img src = "../assets/images/Australian National Maritime Museum.jpg" alt = "Australian National Maritime Museum" height = "200px" width = "300px"></a>
                <p><b>Museu Marítimo Nacional Australiano</b></p>
                <p class="saber" style="color: white;">Saber mais v</p>
            </div>
            <div class="escondido">
                <p class="descricao">
                    O Museu Marítimo Nacional Australiano, localizado 
                    em Darling Harbour, em Sydney, explora a rica 
                    herança marítima da Austrália. Inaugurado em 1991, 
                    apresenta embarcações históricas, artefatos navais 
                    e exposições interativas que abrangem temas como 
                    exploração, imigração e defesa naval. Os destaques 
                    incluem a réplica do Captain Cook's Endeavour, um 
                    submarino da Marinha, e o HMAS Vampire. </p>
                <p class="descricao">
                    O museu oferece programas e eventos educacionais, 
                    proporcionando informações sobre a história marítima 
                    do país e sua conexão com as tradições marítimas 
                    globais.</p>

                <div class="esquerda">
                    <a href="nationalAustralian" class="btn btn-link">Saber mais ></a>
                </div>
            </div>
        </div>

        <!--museu Museu do Louvre-->
        <div class="museu">
            <div class="amostra">
                <a href = "louvre"><img src = "../assets/images/Louvre Museum.webp" alt = "Louvre Museum" height = "200px" width = "300px"></a>
                <p><b>Museu do Louvre</b></p>
                <p class="saber" style="color: white;">Saber mais v</p>
            </div>
            <div class="escondido">
                <p class="descricao">
                    O Museu do Louvre, localizado em Paris, França, é 
                    um dos principais museus de arte do mundo. 
                    Instalado no histórico Palácio do Louvre, apresenta 
                    uma coleção diversificada que abrange milhares de 
                    anos e culturas. De antigos artefatos egípcios a 
                    renomadas pinturas renascentistas como a "Mona Lisa" 
                    de Leonardo da Vinci, o museu oferece aos visitantes 
                    uma viagem incomparável pela história da arte. Com a 
                    sua icónica entrada em pirâmide de vidro, o Louvre é 
                    um símbolo de excelência artística e património 
                    cultural.</p>
                
                <div class="esquerda">
                    <a href="louvre" class="btn btn-link">Saber mais ></a>
                </div>
            </div>
        </div>

    </div>

    <h1>EVENTOS</h1>

</main>
